Cython
imagesize
matplotlib
numpy>=1.23,<2
omegaconf>=2.0.1
onnx
onnx-simplifier
opencv-python
Pillow>=10.0
pyaml
pycocotools
pytorch-lightning>=1.9.0,<2.0.0
setuptools>=65,<81
tabulate
tensorboard
termcolor
torch>=1.10,<2.0
torchmetrics
torchvision
tqdm
